@use "vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: vars.$bg_color_light;
  color: #333;
  padding: 0;
  margin: 0;
}
